**/.idea/*
!/.idea/icon.png
!/.idea/vcs.xml
!/.idea/copyright
!/.idea/codeStyleSettings.xml
!/.idea/codeStyles
!/.idea/dictionaries
!/.idea/inspectionProfiles
!/.idea/README.md
*.iml
.gradle
.kotlin
build
release
local.properties
documentation/site
