[versions]
gradle-android = "8.5.0"
gradle-publish-maven = "0.29.0"
gradle-test-logging = "4.0.0"
gradle-shadow = "8.1.1"

spotless = "6.25.0"
ktlint = "1.2.1"

jetbrains-annotation = "24.1.0"

kotlin-core = "1.9.25"
kotlin-dokka = "1.9.20"
kotlin-coroutines = "1.8.1"

androidx-activity = "1.9.0"

compose-compiler = "1.5.15"
compose-runtime = "1.6.4"
compose-activity = "1.9.0"

fastlist = "0.1.0"

test-mockk = "1.13.11"
test-kotest = "5.9.0"
test-junit-core = "4.13.2"
test-junit-engine = "5.10.2"
test-robolectric = "4.12.2"
test-kotlin-compilation = "0.4.1"

[plugins]
gradle-publish-maven = { id = "com.vanniktech.maven.publish", version.ref = "gradle-publish-maven" }
gradle-test-logging = { id = "com.adarshr.test-logger", version.ref = "gradle-test-logging" }
gradle-shadow = { id = "com.github.johnrengelman.shadow", version.ref = "gradle-shadow" }

kotlin-dokka = { id = "org.jetbrains.dokka", version.ref = "kotlin-dokka" }

spotless = { id = "com.diffplug.spotless", version.ref = "spotless" }

[libraries]
gradle-android = { module = "com.android.tools.build:gradle", version.ref = "gradle-android" }

jetbrains-annotation = { module = "org.jetbrains:annotations", version.ref = "jetbrains-annotation" }

kotlin-gradle-core = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin", version.ref = "kotlin-core" }
kotlin-gradle-api = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin-api", version.ref = "kotlin-core" }
kotlin-compiler = { module = "org.jetbrains.kotlin:kotlin-compiler", version.ref = "kotlin-core" }

androidx-activity = { module = "androidx.activity:activity-ktx", version.ref = "androidx-activity" }

compose-compiler = { module = "androidx.compose.compiler:compiler-hosted", version.ref = "compose-compiler" }
compose-runtime = { module = "androidx.compose.runtime:runtime", version.ref = "compose-runtime" }
compose-animation = { module = "androidx.compose.animation:animation-core", version.ref = "compose-runtime" }
compose-material = { module = "androidx.compose.material:material", version.ref = "compose-runtime" }
compose-activity = { module = "androidx.activity:activity-compose", version.ref = "compose-activity" }

fastlist = { module = "land.sungbin.fastlist:fastlist", version.ref = "fastlist" }

test-mockk = { module = "io.mockk:mockk", version.ref = "test-mockk" }
test-kotest-junit5 = { module = "io.kotest:kotest-runner-junit5", version.ref = "test-kotest" }
test-kotest-assertion = { module = "io.kotest:kotest-assertions-core", version.ref = "test-kotest" }
test-junit-core = { module = "junit:junit", version.ref = "test-junit-core" }
test-junit-enigne = { module = "org.junit.vintage:junit-vintage-engine", version.ref = "test-junit-engine" }
test-junit-compose = { module = "androidx.compose.ui:ui-test-junit4", version.ref = "compose-runtime" }
test-robolectric = { module = "org.robolectric:robolectric", version.ref = "test-robolectric" }
test-kotlin-coroutines = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-test", version.ref = "kotlin-coroutines" }
test-kotlin-compilation = { module = "dev.zacsweers.kctfork:core", version.ref = "test-kotlin-compilation" }

ktlint-cli = { module = "com.pinterest.ktlint:ktlint-cli", version.ref = "ktlint" } # for Renovate
