[versions]
gradle-android = "8.3.0-alpha03"
gradle-publish-maven = "0.25.3"
gradle-dependency-handler-extensions = "1.1.0"

jetbrains-annotation = "24.0.1"

kotlin-core = "1.9.10"
kotlin-coroutines = "1.7.3"
kotlin-kotlinpoet = "1.14.2"
kotlin-detekt = "1.23.1"
kotlin-ktlint-gradle = "11.5.1"
kotlin-ktlint-source = "0.48.2"

compose-compiler = "1.5.3"
compose-runtime = "1.6.0-alpha03"

test-kotest = "5.6.2"
test-mockito-core = "5.5.0"
test-mockito-kotlin = "5.1.0"
test-kotlin-compilation-ksp = "1.5.0"

[plugins]
gradle-publish-maven-core = { id = "com.vanniktech.maven.publish", version.ref = "gradle-publish-maven" }
gradle-publish-maven-base = { id = "com.vanniktech.maven.publish.base", version.ref = "gradle-publish-maven" }
gradle-dependency-handler-extensions = { id = "land.sungbin.dependency.handler.extensions", version.ref = "gradle-dependency-handler-extensions" }

kotlin-jvm = { id = "org.jetbrains.kotlin.jvm", version.ref = "kotlin-core" }
kotlin-detekt = { id = "io.gitlab.arturbosch.detekt", version.ref = "kotlin-detekt" }
kotlin-ktlint = { id = "org.jlleitschuh.gradle.ktlint", version.ref = "kotlin-ktlint-gradle" }

[libraries]
gradle-android = { module = "com.android.tools.build:gradle", version.ref = "gradle-android" }
gradle-publish-maven = { module = "com.vanniktech:gradle-maven-publish-plugin", version.ref = "gradle-publish-maven" }

jetbrains-annotation = { module = "org.jetbrains:annotations", version.ref = "jetbrains-annotation" }

kotlin-gradle = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin", version.ref = "kotlin-core" }
kotlin-stdlib = { module = "org.jetbrains.kotlin:kotlin-stdlib", version.ref = "kotlin-core" }
kotlin-embeddable-compiler = { module = "org.jetbrains.kotlin:kotlin-compiler-embeddable", version.ref = "kotlin-core" }
kotlin-kotlinpoet-core = { module = "com.squareup:kotlinpoet", version.ref = "kotlin-kotlinpoet" }

# This isn't strictly used but allows Renovate to see us using the ktlint artifact
kotlin-ktlint = { module = "com.pinterest:ktlint", version.ref = "kotlin-ktlint-source" }

# This isn't strictly used but allows Renovate to see us using the compose-compiler artifact
compose-compiler = { module = "androidx.compose.compiler:compiler", version.ref = "compose-compiler" }

compose-runtime = { module = "androidx.compose.runtime:runtime", version.ref = "compose-runtime" }

test-kotest-framework = { module = "io.kotest:kotest-runner-junit5-jvm", version.ref = "test-kotest" }
test-kotest-assertion-core = { module = "io.kotest:kotest-assertions-core-jvm", version.ref = "test-kotest" }
test-mockito-core = { module = "org.mockito:mockito-core", version.ref = "test-mockito-core" }
test-mockito-kotlin = { module = "org.mockito.kotlin:mockito-kotlin", version.ref = "test-mockito-kotlin" }
test-kotlin-coroutines = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-test", version.ref = "kotlin-coroutines" }
test-kotlin-compilation-core = { module = "com.github.tschuchortdev:kotlin-compile-testing", version.ref = "test-kotlin-compilation-ksp" }

detekt-plugin-formatting = { module = "io.gitlab.arturbosch.detekt:detekt-formatting", version.ref = "kotlin-detekt" }
