name: document-deploy
on:
  pull_request:
    branches: [ main ]
    types: [ closed ]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: 'pages'
  cancel-in-progress: true

jobs:
  document-deploy:
    environment:
      name: 'github-pages'
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: macos-latest

    if: ${{
      github.event.pull_request.merged &&
      contains(github.event.pull_request.labels.*.name, 'documentation')
      }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: 17

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v3
        with:
          gradle-home-cache-cleanup: true

      - name: Setup Python 3.9
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'
          cache: 'pip'

      - name: Install mkdocs-material via pip
        run: pip install mkdocs-material

      - name: Install mdx-gh-links via pip
        run: pip install mdx-gh-links

      - name: Build mkdocs-material
        run: cd documentation && mkdocs build

      - name: Build dokka at runtime
        run: ./gradlew :runtime:dokkaHtml

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'documentation/site'

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
